<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="de">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>ChatWerk Documentation</title>
    <link rel="stylesheet" href="/docs/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <style type="text/css">
        code {
            background-color: #f9fafb;
            color: #333333;
        }
        pre {
            background-color: #f9fafb;
        }
        table {
            border-collapse: collapse;
            font-family: Tahoma, Geneva, sans-serif;
        }
        table td {
            padding: 15px;
        }
        table thead th {
            background-color: #54585d;
            color: #ffffff;
            font-weight: bold;
            font-size: 13px;
            border: 1px solid #54585d;
        }
        table tbody td {
            color: #333333;
            border: 1px solid #dddfe1;
        }
        table tbody tr {
            background-color: #f9fafb;
        }
        table tbody tr:nth-child(odd) {
            background-color: #ffffff;
        }

        hr {
            border: 1px solid #dddfe1;
        }
    </style>
</head>
<body>
<div class="maindiv">
    <h1 style="text-align:center; position:sticky;">ChatWerk API Documentation</h1>
    <div class="left" id="menu"></div>
    <div class="right" id="markdown-container"></div>
</div>
<script>
    const menu_client = new XMLHttpRequest();
    menu_client.open('GET', '/docs/menu.html');
    menu_client.onreadystatechange = function() {
        document.getElementById('menu').innerHTML = menu_client.responseText;
    }
    menu_client.send();

    const md_client = new XMLHttpRequest();
    md_client.open('GET', '{{ file_name }}');
    md_client.onreadystatechange = function() {
        document.getElementById('markdown-container').innerHTML = marked.parse(md_client.responseText);
    }
    md_client.send();
</script>
</body>
</html>