<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="de">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>ChatWerk Documentation</title>
    <link rel="stylesheet" href="/docs/styles.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swagger-ui-dist@3/swagger-ui.css">
    <script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js" charset="UTF-8"></script>
</head>
<body>
<div class="maindiv">
    <h1 style="text-align:center; position:sticky;">ChatWerk API Documentation</h1>
    <div class="left" id="menu"></div>
    <div class="right" id="swagger-ui"></div>
</div>
<script>
    const menu_client = new XMLHttpRequest();
    menu_client.open('GET', '/docs/menu.html');
    menu_client.onreadystatechange = function() {
        document.getElementById('menu').innerHTML = menu_client.responseText;
    }
    menu_client.send();

    const ui = SwaggerUIBundle({
        url: "{{ file_name }}",
        dom_id: '#swagger-ui',
        presets: [
            SwaggerUIBundle.presets.apis,
        ],
        persistAuthorization: true,
    })
</script>
</body>
</html>